{% extends "base.html" %}

{% block title %}{{ SITENAME }} &middot; Archives{% endblock %}
{% block content %}
{%- if dates %}

				<h1>Archives</h1>

				{# Have to be done like this because of scope for template vars #}
				{% set ctx = {} -%}

				{%- for article in dates -%}
					{% set cmonth = article.date.date().replace(day=1) %}

					{%- if not ctx.get('month') -%}
						{% do ctx.update(month=cmonth) %}

				<h4 class="date">{{ article.date.strftime("%b %Y") }}</h4>
				<div class="post archives">
					<ul>
					{%- elif cmonth < ctx.get('month') -%}
						{% do ctx.update(month=cmonth) %}

					</ul>
					<br />
				</div>

				<h4 class="date">{{ article.date.strftime("%b %Y") }}</h4>
				<div class="post archives">
					<ul>
					{%- endif %}

						<li>{{ article.date.strftime("%d") }}:
							<a href="{{ SITEURL }}/{{ article.url }}">{{ article.title | truncate(70) }}</a>
						</li>
				{%- endfor %}

					</ul>
					<br />
				</div>
{% else %}

				<div class="post text pinned">
					<h2>No Posts</h2>
					<p>There aren't any posts in the timeframe specified.</p>
				</div>
{% endif %}
{% endblock %}
